.user {
  display: flex;
  padding-inline: 1rem;
  padding-block: 1.125rem;
  gap: 0.5rem;
}

.user-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 0.5rem;
}

.user-header p,
.user-header h4 {
  margin: 0;
}

.user-info {
  flex-grow: 1;
}

.user-info h4 {
  font: var(--body-16regular);
  font-weight: bold;
}

.user-info p {
  font: var(--caption-12regular);
  color: var(--grey);
  margin: 0;
}
